.view-fade {
    opacity: 1;
}
.view-fade.ng-enter,
.view-fade.ng-leave {
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
.view-fade.ng-enter {
    opacity: 0;
}
.view-fade.ng-enter-active {
    opacity: 1;
}
.view-fade.ng-leave {
    opacity: 1;
}
.view-fade.ng-leave-active {
    opacity: 0;
}