<div class="modal-header">
    <h3 class="modal-title">新增標籤</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="newTagForm" ng-submit="ok(tag)" >
        
        <!--<div class="alert alert-info text-center">欄位階為必填、只能填中文</div>-->
        
        <!-- tag.name -->
        
        <div class="form-group has-feedback">
            <div class="col-md-2"></div>
            <div class="col-md-8"  ng-class="{'has-error': newTagForm.name.$invalid, 'has-success': newTagForm.name.$valid }">
                <label>標籤名稱</label>
                <input type="text"
                       name="name"
                       ng-model="tag.name"
                       class="form-control"
                       placeholder="最少兩個字"
                       ng-minlength="2"
                       ng-required="true"
                       ng-pattern="'^[\u4e00-\u9fa5]+$'"
                       autofocus/>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="newTagForm.name.$valid" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="newTagForm.name.$invalid" aria-hidden="true"></span>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <!-- tag.keywords -->
        
        <div class="form-group has-feedback">
            <div class="col-md-2"></div>
            <div class="col-md-8" ng-class="{'has-error': newTagForm.keywords.$invalid, 'has-success': newTagForm.keywords.$valid }">
                <label>關鍵字</label>
                <input type="text" 
                       name="keywords" 
                       ng-model="tag.keywords"
                       class="form-control" 
                       placeholder="例如: 程式語言 Java"
                       uib-popover="這個標籤可能跟哪些字詞、專業有關" 
                       popover-trigger="focus"
                       popover-placement="top" 
                       ng-minlength="2"
                       ng-required="true"
                       ng-pattern="'^[\u4e00-\u9fa5]+$'"/>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="newTagForm.keywords.$valid" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="newTagForm.keywords.$invalid" aria-hidden="true"></span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <button type="submit" style="margin:0;padding:0;display:none;"></button>
    </form>
</div>
<div class="modal-footer">
    <div class="row text-center">
        <div class="col-sm-12" style="margin-bottom: 10px;">
            <button class="btn btn-success btn-block" type="button" ng-click="ok(tag)">新增</button>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-default btn-block" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>