<div class="article-search-wrapper" id="article-search-wrapper">
    <div class="container article-search-container">
        <div class="row article-search-row">
            <div class="col-sm-12">
                <div class="inner-addon right-addon">
                    <h3>
                        <i class="glyphicon glyphicon-search" style="padding:10px 10px 10px 10px;"></i>
                    </h3>
                    <input type="text" ng-model="searchArticle" class="form-control input-lg" placeholder="搜尋文章"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container articles-wrapper" ng-show="isLoaded">
    
    <div class="row articles-header-row">
        <!--<div class="col-xs-12 recommend-tags">-->
        <!--    <span style="font-sm">推薦標籤: </span>-->
        <!--    <span class="label label-success font-sm" -->
        <!--          ng-repeat="tag in tagsArray | filter: {order:0} | orderBy:['order', 'toString()']"-->
        <!--          ng-click="searchArticleByTag(tag.name, $event)">-->
        <!--        {{ tag.name }}-->
        <!--    </span>-->
        <!--</div>-->
        <div class="col-md-9 articles-left-side">
            <div class="row pagination-row">
                <div class="col-md-6 col-sm-12">
                    <div ng-include src="templates.orderOption"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" ng-init="">
                    <!-- 分頁 -->
                    <div class="text-right" ng-show="!isMobile.any()">
                        <uib-pagination total-items="(articlesArray | filterBySpace: searchArticle: ['title', 'keywords']).length"
                                        items-per-page="pageSize"     
                                        ng-model="currentPage"
                                        max-size="maxSize"
                                        class="pagination-sm"
                                        boundary-link-numbers="true"
                                        previous-text="上一頁"
                                        next-text="下一頁">
                            
                        </uib-pagination>
                    </div>
                </div>
            </div>
            
            <div class="text-center alert alert-info font-lg" ng-show="!!searchArticle && (articlesArray | filterBySpace: searchArticle: ['title', 'keywords']).length <= 0">
                無資料
            </div>
            
            <div class="articles-rows" ui-sref="article({ articleID: article.$id })"  ng-repeat="article in articlesArray | filterBySpace: searchArticle: ['title', 'keywords'] 
                                                                                                                          | orderBy: currentOrderOption.key: currentOrderOption.reverse 
                                                                                                                          | limitTo: pageSize : pageStartItem(pageSize, currentPage)">
                <!-- md lg 版本 -->
                
                <div class="articles-desktop hidden-xs hidden-sm">
                    <div class="row"> 
                        <div class="col-md-8 col-lg-9">
                            <div class="article-title">
                                <a ui-sref="article({ articleID: article.$id })" class="hidden-lg">{{ article.title | limitTo: 19 }} {{ article.title.length > 19 ? '...' : '' }}</a>
                                <a ui-sref="article({ articleID: article.$id })" class="hidden-md">{{ article.title | limitTo: 27 }} {{ article.title.length > 27 ? '...' : '' }}</a>
                            </div>
                            <div class="article-content">
                                <span class="hidden-md" ng-bind-html="cutArticleContent(article.content) | limitTo: 155"></span>
                                <span class="hidden-md">{{ cutArticleContent(article.content).length > 155 ? '...' : '' }}</span>
                                <span class="hidden-lg" ng-bind-html="cutArticleContent(article.content) | limitTo: 110"></span>
                                <span class="hidden-lg">{{ cutArticleContent(article.content).length > 110 ? '...' : '' }}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="article-tags">
                                <span class="label font-default" 
                                      ng-class="{ 'label-success': tag.order == 0, 'label-info': tag.order == 1, 'label-default': tag.order == 2 }"
                                      ng-repeat="tag in article.tags | orderBy:['order', 'toString()']"
                                      ng-click="searchArticleByTag(tag.name, $event)"
                                      smooth-scroll-jquery 
                                      target="article-search-wrapper">
                                    {{ tag.name }}
                                </span>
                            </div>
                            <i class="fa fa-user fa-1x"></i> 
                            <a ng-click="goState('user.articles', { userID: article.creator.uid }, $event)" class="font-default">{{ article.creator.displayName }}</a>
                            <div>
                                <span class="fa fa-thumbs-up fa-1x"></span> {{ article.pushUserIDs.length || 0}}
                                <span class="fa fa-comment fa-1x"></span> {{ article.comments.length || 0 }} 
                                <span class="fa fa-clock-o fa-1x"></span> {{ getFromNow(article.created, "YYYY-MM-DD hh:mm:ss") }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- sm xs 版本 -->
                
                <div class="articles-mobile hidden-lg hidden-md">
                    <div class="row"> 
                        <div class="col-xs-12">
                            <div class="article-title">
                                <a ui-sref="article({ articleID: article.$id })" class="hidden-xs">{{ article.title | limitTo: 20 }} {{ article.title.length > 20 ? '...' : '' }}</a>
                                <a ui-sref="article({ articleID: article.$id })" class="hidden-sm">{{ article.title | limitTo: 11 }} {{ article.title.length > 11 ? '...' : '' }}</a>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-7">
                            <div class="article-content">
                                <span class="hidden-xs" ng-bind-html="cutArticleContent(article.content) | limitTo: 57"></span>
                                <span class="hidden-xs">{{ cutArticleContent(article.content).length > 57 ? '...' : '' }}</span>
                                <span class="hidden-sm" ng-bind-html="cutArticleContent(article.content) | limitTo: 26"></span>
                                <span class="hidden-sm">{{ cutArticleContent(article.content).length > 26 ? '...' : '' }}</span>
                            </div>
                            <i class="fa fa-user fa-1x"></i> 
                            <a ng-click="goState('user.articles', { userID: article.creator.uid }, $event)" class="font-default">{{ article.creator.displayName }}</a>
                            <div>
                                <span class="fa fa-thumbs-up fa-1x"></span> {{ article.pushUserIDs.length || 0}}
                                <span class="fa fa-comment fa-1x"></span> {{ article.comments.length || 0 }} 
                                <span class="fa fa-clock-o fa-1x"></span> {{ getFromNow(article.created, "YYYY-MM-DD hh:mm:ss") }}
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-5">
                            <div class="article-tags">
                                <span class="label font-default" 
                                      ng-class="{ 'label-success': tag.order == 0, 'label-info': tag.order == 1, 'label-default': tag.order == 2 }"
                                      ng-repeat="tag in article.tags | orderBy:['order', 'toString()']"
                                      ng-click="searchArticleByTag(tag.name, $event)"
                                      smooth-scroll-jquery 
                                      target="article-search-wrapper">
                                    {{ tag.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 分頁 -->
            <div class="text-right"  ng-show="!isMobile.any()" style="margin-top: 20px;">
                <uib-pagination total-items="(articlesArray | filterBySpace: searchArticle: ['title', 'keywords']).length"
                                items-per-page="pageSize"     
                                ng-model="currentPage"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-link-numbers="true"
                                previous-text="上一頁"
                                next-text="下一頁">
                    
                </uib-pagination>
            </div>
        </div>
        <!-- Right Side -->
        <div class="col-md-3 articles-right-side hidden-xs hidden-sm">
            
            <div class="panel panel-default" ng-init="isPanelCollapsed[2] = true">
                <div class="panel-heading" ng-click="isPanelCollapsed[2] = !isPanelCollapsed[2]">
                    <span class="panel-title">科系列表</span>
                    <span class="panel-right-icon fa fa-plus fa-1x" ng-show="isPanelCollapsed[2]"></span>
                    <span class="panel-right-icon fa fa-minus fa-1x" ng-show="!isPanelCollapsed[2]"></span>
                </div>
                <div class="panel-content font-lg" uib-collapse="isPanelCollapsed[2]">
                    <table class="table table-condensed table-hover no-margin">
                        <tr class="clickable" ng-click="searchArticleByTag(department.name, $event)" ng-repeat="department in departmentsArray" smooth-scroll-jquery target="article-search-wrapper">
                            <td class="text-center">
                                <span class="label label-info font-lg" style="display:inline-block; width:80%;">
                                    {{ department.name }}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="panel panel-default" ng-init="isPanelCollapsed[0] = true">
                <div class="panel-heading" ng-click="isPanelCollapsed[0] = !isPanelCollapsed[0]">
                    <span class="panel-title">各系熱門文章</span>
                    <span class="panel-right-icon fa fa-plus fa-1x" ng-show="isPanelCollapsed[0]"></span>
                    <span class="panel-right-icon fa fa-minus fa-1x" ng-show="!isPanelCollapsed[0]"></span>
                </div>
                <div class="panel-content font-default" uib-collapse="isPanelCollapsed[0]">
                    <table class="table table-condensed table-hover no-margin">
                        <tr class="clickable" ui-sref="article({ articleID:article.$id })" ng-repeat="article in articlesArray | orderBy: ['pushUserIDs.length || 0', 'comments.length || 0' , 'created']: true | allKindsPopularArticles: departmentsArray | limitTo: 30">
                            <td class="title hidden-md font-default vert-align" style="width:55%;">{{ article.title | limitTo: 13 }} {{ article.title.length > 13 ? '...' : '' }}</td>
                            <td class="title hidden-lg font-default vert-align" style="width:35%;">{{ article.title | limitTo: 7 }} {{ article.title.length > 7 ? '...' : '' }}</td>
                            <td class="vert-align" style="width:30%;">
                                <span class="label label-default font-sm padding-5">
                                    {{ article.departments[0].name }}
                                </span>
                            </td>
                            <!--<td class="font-x vert-aligns" style="width:15%;">-->
                            <!--    <i class="fa fa-thumbs-up fa-1x font-xs"></i> {{ article.pushUserIDs.length || 0 }} <br />-->
                            <!--    <i class="fa fa-comment fa-1x font-xs"></i> {{ article.comments.length || 0 }}-->
                            <!--</td>-->
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="panel panel-default" ng-init="isPanelCollapsed[1] = true">
                <div class="panel-heading" ng-click="isPanelCollapsed[1] = !isPanelCollapsed[1]">
                    <span class="panel-title">各系最新文章</span>
                    <span class="panel-right-icon fa fa-plus fa-1x" ng-show="isPanelCollapsed[1]"></span>
                    <span class="panel-right-icon fa fa-minus fa-1x" ng-show="!isPanelCollapsed[1]"></span>
                </div>
                <div class="panel-content font-default" uib-collapse="isPanelCollapsed[1]" >
                    <table class="table table-condensed table-hover no-margin">
                        <tr class="clickable" ui-sref="article({ articleID:article.$id })" ng-repeat="article in articlesArray | orderBy: ['-created'] | allKindsPopularArticles: departmentsArray | limitTo: 30">
                            <td class="title hidden-md font-default vert-align" style="width:55%;">{{ article.title | limitTo: 13 }} {{ article.title.length > 13 ? '...' : '' }}</td>
                            <td class="title hidden-lg font-default vert-align" style="width:35%;">{{ article.title | limitTo: 7 }} {{ article.title.length > 7 ? '...' : '' }}</td>
                            <td class="vert-align" style="width:30%;">
                                <span class="label label-default font-sm padding-5">
                                    {{ article.departments[0].name }}
                                </span>
                            </td>
                            <!--<td class="font-x vert-aligns" style="width:15%;">-->
                            <!--    <i class="fa fa-thumbs-up fa-1x font-xs"></i> {{ article.pushUserIDs.length || 0 }} <br />-->
                            <!--    <i class="fa fa-comment fa-1x font-xs"></i> {{ article.comments.length || 0 }}-->
                            <!--</td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
