<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-xs-6" style="border-right:1px white solid;">
                    <h3>關於我們</h3>
                    <p>
                        這是我們目前專題小組的作品，我們想幫助求學階段的學生尋找性向、選擇志向時，能有各種不同的經驗可以參考的平台。
                        <!--&nbsp&nbsp&nbsp&nbsp這是我們目前專題小組的作品，-->
                        <!--但我們並不想製作一個只為了發表、畢業了之後就消失的作品，-->
                        <!--我們想利用大學最後的時間來發現問題、解決問題。<br />-->
                        
                        <!--&nbsp&nbsp&nbsp&nbsp目前以我們的經驗與觀察，即使學生完全融入台灣的教育，-->
                        <!--大部分的人還是無法確定自己的性向或志向，-->
                        <!--選擇志向的時候，雖然想以自己的性向做為主要參考，但因為不確定，-->
                        <!--通常就會變成次要參考，主要參考變成分數、薪資等社會因素。 <br />-->
                        <!--&nbsp&nbsp&nbsp&nbsp本平台想幫助求學階段的學生尋找性向、選擇志向時，有各種不同的經驗可以參考的平台。-->
                        
                        
                        <!--&nbsp&nbsp&nbsp&nbsp這是我們目前專題小組的作品，-->
                        <!--但我們並不想製作一個只為了發表、畢業了之後就消失的作品，-->
                        <!--我們想利用大學最後的時間來發現問題、解決問題。<br />-->
                        
                        <!--&nbsp&nbsp&nbsp&nbsp目前以我們的經驗與觀察，即使學生完全融入台灣的教育，-->
                        <!--大部分的人還是無法確定自己的性向或志向，-->
                        <!--選擇志向的時候，雖然想以自己的性向做為主要參考，但因為不確定，-->
                        <!--通常就會變成次要參考，主要參考變成分數、薪資等社會因素。 <br />-->
                        <!--&nbsp&nbsp&nbsp&nbsp本平台想幫助求學階段的學生尋找性向、選擇志向時，有各種不同的經驗可以參考的平台。-->
                    </p>
                </div>
                <!--<div class="footer-col col-sm-4">-->
                <!--    <h3>關於此平台</h3>-->
                <!--    <p>-->
                <!--        &nbsp&nbsp&nbsp&nbsp此平台的文章分類是由多個標籤所組成，-->
                <!--        標籤有分為主要標籤、次要標籤，-->
                <!--        主要標籤分別為經驗分享、入門教學、兩者皆是，-->
                <!--        次要標籤由發文者自己判斷、選擇、新增。-->
                        
                <!--        我的理念是相信專業，所以，-->
                <!--        我相信發文者自己所選擇的標籤會是最合適的。-->
                        
                <!--        &nbsp&nbsp&nbsp&nbsp教學文章會以入門導向為主，這裡不需要中高階的文章，-->
                <!--        能讓學生確定自己的性向與志向就夠了，-->
                        
                <!--    </p>-->
                <!--</div>-->
                <div class="footer-col col-xs-6">
                    <h3>聯絡我們</h3>
                    <p>若有甚麼建議、批評或是想對我們說的話等，都可以傳送訊息給我們</p>
                    <button class="btn btn-info" ng-click="openContactModal('md')">撰寫訊息</button>
                </div>
                <!--<div class="footer-col col-md-6">-->
                <!--    <h3>Location</h3>-->
                <!--    <p>台灣</p>-->
                <!--</div>-->
                <!--<div class="footer-col col-md-6">-->
                <!--    <h3>About</h3>-->
                <!--    <ul class="list-inline">-->
                <!--        <li><a href="" target="_blank">Link</a></li>-->
                <!--    </ul>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="font-lg">本網站發表之文章、圖片、影片容等版權皆屬原作者所有，非經原作者同意請勿轉載</div>
                    
                    <div class="font-sm" style="padding-top: 20px;">© 2016 by 丁鉦儒,陳品翰,廖子婷 保留一切權利</div>
                    <!--<div class="font-sm">© 2016 by Ding Zheng Ru. All Rights Reserved</div>-->
                </div>
            </div>
        </div>
    </div>
</footer>