<div class="font-lg user-prfile">
    <div class="row" style="">
        <div class="col-md-12">
           <div class="alert alert-info text-center">此頁面只有自己看的到，資料均來自於您的{{ user.provider }}帳戶 <br/> (修改您的{{ user.provider }}資料，這邊也會同步更新)</div>
        </div>
    </div>
    
    
    
    <div class="table-responsive">
        <table class="table table-custom-striped">
            <tr>
                <th>使用者ID({{ user.provider }})</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>使用者名稱</th>
                <td>
                    <form class="form-inline" ng-submit="changeDisplayName(user.displayName)">
                        <input type="text" class="form-control" ng-model="user.displayName"/>
                        <div class="hidden-xs hidden-sm" style="display:inline-block;">
                            <button type="submit" class="btn btn-warning">修改</button>
                            <div class="alert alert-success text-center font-default" 
                                 style="display:inline-block;padding:8px 12px; font-weight:bold; margin:0px;"
                                 ng-show="isDisplayNameChange">
                                修改成功
                            </div>
                        </div>
                        <div class="hidden-lg hidden-md" style="margin-top: 5px;">
                            <button type="submit" class="btn btn-warning">修改</button>
                            <div class="alert alert-success text-center font-default hidden-lg hidden-md" 
                                 style="display:inline-block;padding:8px 12px; font-weight:bold; margin:0px"
                                 ng-show="isDisplayNameChange">
                                修改成功
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th>性別</th>
                <td>{{ user.cachedUserProfile.gender == 'male' ? '男' : '女' }}</td>
            </tr>
            <tr>
                <th>信箱</th>
                <td>{{ user.email}}</td>
            </tr>
        </table>
    </div>
    
</div>

<!--<pre ng-show="user">{{ getUserProfile() | json:4 }}</pre>-->